<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<p th:text="${person.getFullName()+', '+person.getYearOfBirth()}">user</p>

<div th:if="${books.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
    <hr/>
</div>

<div th:if="${!books.isEmpty()}">
    <hr/>
    <b>Книги:</b>
    <br/>
    <table th:each="book: ${books}">
        <tr th:text="${book.getTitle()}">book</tr>
    </table>
    <hr/>
</div>
    <br/>
    <form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getPersonId()})}">
        <input type="submit" value="Редактивировать">
    </form>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
        <input type="submit" value="Удалить"/>
    </form>
</body>
</html>