<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search books</title>
</head>
<body>

<form th:method="POST" th:action="@{/books/search}" th:object="${book}">
    <label for="title">Введите название книги: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <br/>
    <input type="submit" value="Поиск"/>
    <br/>
</form>

<div th:if="${foundBooks != null}">
    <div th:if="${foundBooks.isEmpty()}">
        <p>Книг не найдено</p>
        <hr/>
    </div>

    <div th:if="${!foundBooks.isEmpty()}">
        <hr/>
        <b>Найденные книги:</b>
        <br/>
        <div th:each="book: ${foundBooks}">
            <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfRelease()}">book</p>

            <div th:if="${book.getOwner() != null}">
                <span>Книга сейчас у: </span> <span th:text="${book.getOwner().getFullName()}">Person name</span>
            </div>

            <div th:if="${book.getOwner() == null}">
                <span>Книга свободна</span>
            </div>
            <hr/>
        </div>
    </div>
</div>

</body>
</html>
